
source_env:github_repository() {
    
    [[ -n "$GITHUB_REPOSITORY" ]] &&
	( log_status "$GITHUB_REPOSITORY environment setup already loaded"
	  return )

    which -s gh ||
    	( log_error "you should provide gh command line"
	  return 1 )
	
    local login=$(gh api user --jq '.login')

    [[ -z "$login" ]] &&
	( log_error "gh not logged, cannot retrieve login name"
	  return 1 )
	    
    local root="${GITHUB_ROOT:-../..}"
    local source="${root}/${login}/nos" &&
	[[ ! -d $source ]] &&
	source="${root}/nuxeo/nos"
    source_env "$source"
}

source_env:github_repository

